<div class="container">
    <form method="post" action="/exp">
      <div class="form-group">
        <label>School</label>
        <input class="form-control" type="text" name="school" placeholder="School">
      </div>
      <div class="form-group">
        <label>Start Year</label>
        <input class="form-control" type="text" name="edustart">
      </div>
      <div class="form-group">
        <label>End Year</label>
        <input class="form-control" type="text" name="eduend">
      </div>
      <div class="form-group">
        <label>Company</label>
        <input class="form-control" type="text" name="company" placeholder="Company">
      </div>
      <div class="form-group">
        <label>Start Year</label>
        <input class="form-control" type="text" name="workstart">
      </div>
      <div class="form-group">
        <label>End Year</label>
        <input class="form-control" type="text" name="workend">
      </div>
      <button class="btn btn-primary" type="submit">Update</button>
      <br>
    </form>
</div>
